.carsHome-section {
    max-width: 1300px;
    margin: 0 auto;
    float: none;
    text-align: center;
    margin-bottom: 1.25rem;
}

.carsHome-section-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carsHome-section-h6 {
    color: #f7a625;
    font-weight: 600;
    font-size: 1rem;
}

.carsHome-section-h2 {
    color: #000d6b;
    font-weight: 600;
    font-size: 1.8rem;
}

.carsHome-section-headings{
    margin-bottom: 3rem;
}

@media only screen and (max-width: 350px) {
    .carsHome-section {
        width: calc(100% - 10px);
    }
}